<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>
 <div class="login">
	<h1>Bad Asteroid Detection using Machine Learning</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
        <input type="text" name="interview_score3" placeholder="Absolute Magnitude Parameter" required="required" /><br>
    	  <input type="text" name="experience" placeholder="Eccentricity" required="required" /><br>
        <input type="text" name="test_score" placeholder="Semi-Major Axis" required="required" /><br>
        <input type="text" name="interview_score5" placeholder="Perihelion Distance" required="required" /><br>
        <input type="text" name="interview_score6" placeholder="Inclination Angle to X-Y Plane" required="required" /><br>
        <input type="text" name="interview_score7" placeholder="Time of Perihelion Passage" required="required" /><br>
        <input type="text" name="interview_score8" placeholder="Min Orbit Intersection" required="required" /><br>
        <input type="text" name="interview_score9" placeholder="RMS Speed" required="required" /><br>
        

       

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
  
   
 </div>
 {{prediction_text}}

</body>
</html>